!!!
html
  head
    meta(name='viewport', content='width=device-width, user-scalable=no')
    title= name
    style.
      body {
        padding: 0;
        margin: 0;
        background-color: #f2f2f2;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      h1 {
        font-size: 5.1em;
        color: #007AFF;
        font-family: 'Helvetica Neue';
        font-weight: 100;
        cursor: default;
        display: block;
      }
      input {
        font-family: 'Helvetica Neue';
        font-weight: 200;
        width: 70%;
        height: 40px;
        border: none;
        outline: none;
        color: #000;
        background-color: transparent;
        font-size: 20px;
        line-height: 40px;
      }
      input:focus {
        color: #007AFF;
      }
      a {
        margin: 0;
        outline: none;
        font-family: 'Helvetica Neue';
        font-weight: 200;
        color: #007AFF;
        text-decoration: none;
        line-height: 20px;
        border:none;
        box-shadow: inset 0 0 1px rgba(0, 0, 0, 1);
        padding: 5px 5px 5px 5px;
        border-radius: 3px;
        width: 70%;
        display: block;
      }
    script.
      window.scrollTo(0);
      function call (e,bool) {
        if (e.charCode === 13) {
          if (!document.getElementById('url').value.match(/(http:\/\/)|(https:\/\/)/))
            document.getElementById('url').value = 'http://'+document.getElementById('url').value;
          if (bool === false) {
            document.getElementById('url').value += '&img=false';
          }
          window.location.href = 'http://'+location.host+'/?url=' + document.getElementById('url').value;
        }
      }
  body
    center
      h1 #{name}
      input(id='url', type='url', placeholder='type your url here...', onkeypress='call(event)', autocapitalize='off', autocorrection='off')
      a(onclick='call({charCode: 13}, false)') load without images