h1.
  <?xml version="1.0" encoding="UTF-8" standalone="no"?>
  <svg width="218px" height="84px" viewBox="0 0 218 84" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <title>Slice 1</title>
    <description>Created with Sketch (http://www.bohemiancoding.com/sketch)</description>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
      <text id="n⬡xy" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="96" font-weight="260" fill="#007AFF">
        <tspan x="-5" y="58">n</tspan>
        <tspan x="44.824" y="58" font-family="STIXGeneral" font-weight="normal">⬡</tspan>
        <tspan x="132.184" y="58">xy</tspan>
      </text>
    </g>
  </svg>